# Python cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment folders
env/
venv/

# Mac system files
.DS_Store

# VS Code settings (optional)
.vscode/

# Streamlit temp files
.streamlit/

# Environment/config files
.env

# Log files
*.log
